In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("output.csv")

In [4]:
df.head()

,Link of the Product,Keyword,Product ID
0,https://www.ebay.com.au/itm/187196293335,tool bag,187196293335
1,https://www.ebay.com.au/itm/187196293335,tool bag,187196293335
2,https://www.ebay.com.au/itm/187196293335,tool tote,187196293335
3,https://www.ebay.com.au/itm/187196293335,tool bag heavy duty,187196293335
4,https://www.ebay.com.au/itm/187196293335,tool bag with wheels,187196293335

In [7]:
df = df.drop_duplicates()

In [8]:
df.head()

,Link of the Product,Keyword,Product ID
0,https://www.ebay.com.au/itm/187196293335,tool bag,187196293335
2,https://www.ebay.com.au/itm/187196293335,tool tote,187196293335
3,https://www.ebay.com.au/itm/187196293335,tool bag heavy duty,187196293335
4,https://www.ebay.com.au/itm/187196293335,tool bag with wheels,187196293335
5,https://www.ebay.com.au/itm/187031698820,foam cutter,187031698820

In [ ]:
pd.save_csv("results_cleaned.csv", df, index=False)